<ion-view view-title="About Us">
   
   
   <ion-content>
      <div class="list">
         <div class="item item-text-wrap">
            <h2><strong>About Us</strong></h2>
         </div>
         <div class="item item-text-wrap item-divider">
            <h2><strong>Our Story</strong></h2>
         </div>
         <div class="item item-text-wrap">
            <p>Hello. We’re Restaurants Online, and we’re proud to be the world’s leading online and mobile takeaway ordering service. From humble beginnings in a Danish basement in 2001, to our 2014 listing on the London Stock Exchange, we now operate in 15 countries worldwide.</p>
            <p><br></p>
            <p>Whether it’s burritos in Brazil or curry in Canada, we’re delivering the quickest, easiest way to order takeaway. We’ve made rooting around for paper menus a thing of the past, and said adios to awkward phone orders. Takeaway-loving customers can now search and order from loads of local restaurants with the Restaurants Online app (or online) and pay by card, or cash on delivery. Oh, and there’s always the option to collect too.</p>   
            <p><br></p>
            <p>With huge opportunities for growth, we’re on a long-term mission to make ordering takeaway as easy as pie, so our story’s only really just begun…</p>
         
         </div>    
         

      </div>

      
   </ion-content>
   
   
</ion-view>