<ion-view view-title="Contact Us">
   
   
   <ion-content>
      <div class="list">
         <div class="item item-text-wrap">
            <h2><strong>Contact Us</strong></h2>
         </div>
         <div class="item item-text-wrap item-divider">
            <h2><strong>Move Your Restaurant Online</strong></h2>
         </div>
         <div class="item item-text-wrap">
            <p><i class="icon ion-email"></i> 
               <a ng-href="mailto:business@RestaurantsOnline.com">business@RestaurantsOnline.com</a>
            </p> 
            <p><i class="icon ion-android-call"></i>
               <a ng-href="tel:18779384837">1-877-938-4837</a>
            </p>
         </div>        
         <div class="item item-text-wrap item-divider">
            <h2><strong>Technical Support</strong></h2>
         </div>
         <div class="item item-text-wrap">
            <p><i class="icon ion-email"></i> 
               <a ng-href="mailto:techsupport@RestaurantsOnline.com">techsupport@RestaurantsOnline.com</a>
            </p> 
            <p><i class="icon ion-android-call"></i>
               <a ng-href="tel:18779384837">1-877-938-4838</a>
            </p>
         </div>               
         
         

      </div>

      
   </ion-content>
   
   
</ion-view>